@model IEnumerable<NeoSoft.A2ZFiling.UI.ViewModels.UserPermissionVM>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">




</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content m-5 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-end">
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">User Permission</h3>
                                        <div class="card-tools">
                                            @*  <button type="button" class="btn btn-primary" id="createButton">
                                            Create
                                            </button> *@

                                            <div id="placeholder"></div>
                                           @*  <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#createModal"
                                                    data-url="@Url.Action("Create", "UserPermission")">
                                                <i class="fas fa-plus"></i>   
                                            </button> *@

                                            <a href="@Url.Action("Create", "UserPermission")" class="btn btn-primary">
                                                <i class="fas fa-plus"></i> @* Create *@
                                            </a>

                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Role Id</th>
                                                    <th>Role Name</th>
                                                      <th>Permission Id</th>
                                                    <th>Controller Name</th>
                                                    <th>Action Name</th>
                                                  <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UserPermissionId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RoleId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RoleName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PermissionId)
                                                        </td>
                                                          <td>
                                                            @Html.DisplayFor(modelItem => item.ControllerName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ActionName)
                                                        </td>

                                                        <td>
                                                            @if (item.IsActive)
                                                            {
                                                                <span class="text-success font-weight-bold">Active</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger font-weight-bold">Inactive</span>
                                                            }
                                                        </td>
                                                        <td>
                                                           @*  <button class="btn btn-primary btn-sm edit-button" 
                                                                    data-url="@Url.Action("Edit", "UserPermission")" data-id="@item.RoleId">
                                                                <i class="fas fa-edit"></i>  Edit  
                                                            </button> *@
@* 
                                                            <a href="@Url.Action("Edit", "UserPermission", new { roleId = item.RoleId })" class="btn btn-primary btn-sm">
                                                                <i class="fas fa-edit"></i> 
                                                            </a> *@


                                                            



                                                            <button class="btn btn-danger btn-sm trigger-modal" data-id="@item.UserPermissionId" data-url="@Url.Action("Delete", "UserPermission")">
                                                                <i class="fas fa-trash-alt"></i> @* Delete *@
                                                            </button>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>





        <!-- Delete Modal -->
        <div id="myModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger delete-confirm">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>

    <!-- Page specific script -->
    <script>
        // $(document).ready(function () {
        $("#example2").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "paging": true,
            "pageLength": 4,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true
        }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');


        //-----------------------------------------------------------------------------------------------------------------------
       



        //----------------------------------------------------------------------------------------------------------------



        // // Function to show the delete modal


        $(document).on('click', '.trigger-modal', function () {
            var UserId = $(this).data("id");
            // Set data attribute of delete button inside modal for further reference
            $('.delete-confirm').data('id', UserId);
            $('#myModal').modal('show');
        });

        // Event delegation for handling delete button click inside the modal
        $(document).on('click', '.delete-confirm', function () {
            var UserId = $(this).data("id");
            var deleteUrl = '@Url.Action("Delete", "UserPermission")' + '?id=' + UserId;

            $.ajax({
                url: deleteUrl,
                type: 'GET',
                success: function (result) {
                    console.log('User Permission deleted successfully.');
                    alert('User Permission  deleted successfully');
                    $('#myModal').modal('hide');

                },
                error: function (xhr, status, error) {
                    console.error("Error deleting User Permission : ", error);
                    alert("Error deleting User Permission . Please try again.");

                }
            });
        });




        //---------------------------------------------------------------------------------------------------------------------------

        



       

        // })
    </script>

</body>
</html>