
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<NeoSoft.A2ZFiling.UI.ViewModels.SubStatusVM>

 <div class="card">
    <div id="subStatusPlaceholder"></div>

    <div class="card-header">
        <div class="float-right">
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#createModal" data-url="@Url.Action("Create", "SubStatus")">
                <i class="fas fa-plus"></i>
            </button>

            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <div class="card-body">
            <table id="example7" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>StatusName</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubStatusName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusName)
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <span class="text-success font-weight-bold">Active</span>
                                }
                                else
                                {
                                    <span class="text-danger font-weight-bold">Inactive</span>
                                }
                            </td>
                            <td>
                                        @if (item.IsActive)
                                        {
                                            <button class="btn btn-primary btn-sm editSubStatus-button mr-1" data-toggle="ajax-modal" data-target="#updateModal"
                                                    data-url="@Url.Action("Update", "SubStatus")" data-id="@item.SubStatusId">
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <button class="btn btn-danger btn-sm trigger-modal" data-id="@item.SubStatusId">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary btn-sm editSubStatus-button mr-1" data-toggle="ajax-modal" data-target="#updateModal"
                                                    data-url="@Url.Action("Update", "SubStatus")" data-id="@item.SubStatusId" disabled>
                                                <i class="fas fa-edit"></i>
                                            </button>

                                            <button class="btn btn-danger btn-sm trigger-modal" data-id="@item.SubStatusId" disabled>
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        }
                                    </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div> 




<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-substatus">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- DataTables Buttons extension -->
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@

<script>

    console.log("Before DataTable initialization");

    $("#example7").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "buttons": ["csv"],
        "paging": true,
        "pageLength": 4,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
    })
   

    $('#example7').DataTable().buttons().container().appendTo('#example7_wrapper .col-md-6:eq(0)');


    console.log("After DataTable initialization");


    //function to handle create modal

    $('button[data-toggle="ajax-modal"]').click(function (event) {
        var url = $(this).data('url');
        console.log('Create modal URL:', url);
        var decodeUrl = decodeURIComponent(url);
        $.get(decodeUrl).done(function (data) {
            $('#subStatusPlaceholder').html(data);
            $('#createModal').modal('show');

            // Unbind previously bound event handler
            $('#subStatusPlaceholder').off('click', '[data-save="subStatusModal"]');

            // Event delegation for dynamically loaded content
            $('#subStatusPlaceholder').on('click', '[data-save="subStatusModal"]', function (event) {
                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var url = '@Url.Action("Create", "SubStatus")';
                var sendData = form.serialize();

                $.post(url, sendData).done(function (data) {
                    $('#subStatusPlaceholder').find('.modal-body').prepend('<div class="alert alert-success" role="alert">Sub Status Created Successfully.</div>');
                    $('#subStatusPlaceholder').find('.modal').modal('hide');
                    $('#table7-tab').tab('show');
                    // Reload industry data after creating a new industry
                    $('#subStatusDataPlaceholder').load('/SubStatus/GetAll'
                        , function () {
                            console.log('License data reloaded.');
                        }
                    );

                }).fail(function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    console.log(errorMessage);
                    // Update the modal content to display the error message
                    $('#subStatusPlaceholder').find('.error-message-container').html('<div class="alert alert-danger" role="alert">' + errorMessage + '</div>');
                });
            });
        });
    });


    //-------------------------------------------------
    //function to handle edit modal

    $(document).on('click', '.editSubStatus-button', function () {
        debugger
        var SubStatusId = $(this).data("id");
        var editUrl = '@Url.Action("Update", "SubStatus")' + '?id=' + SubStatusId;

        // AJAX request to fetch data for editing
        $.ajax({
            url: editUrl,
            type: 'GET',
            success: function (data) {
                // Load the partial view into the placeholder div
                $('#subStatusPlaceholder').html(data);
                // Show the edit modal
                $('#updateModal').modal('show');
            },
            error: function (xhr, status, error) {
                console.error("Error fetching SubStatus data: ", error);
                alert("Error fetching SubStatus data. Please try again.");
            }
        });
    });


    // Function to update data after saving
    function updateData() {
        var SubStatusId = $('#SubStatusId').val(); // Assuming you have a hidden input field with the IndustryId
        var editUrl = '@Url.Action("Update", "SubStatus")' + '?id=' + SubStatusId;

        // AJAX request to fetch updated data
        $.ajax({
            url: editUrl,
            type: 'GET',
            success: function (data) {
                // Replace the content in the placeholder div with the updated data
                $('#subStatusPlaceholder').html(data);
                // Close the modal
                $('#updateModal').modal('hide');
                $('#table7-tab').tab('show');
                // Reload the "get all industry" page after saving changes
                $('#subStatusDataPlaceholder').load('/SubStatus/GetAll', function () {
                    console.log('SubStatus data reloaded.');
                });
            },
            error: function (xhr, status, error) {
                console.error("Error fetching updated SubStatus data: ", error);
                alert("Error fetching updated SubStaus data. Please try again.");
            }
        });
    }
    $(document).on('click', '#subStatusSaveButton', function () {
        // Perform validation and submit data via AJAX
        $.ajax({
            url: '@Url.Action("Update", "SubStatus")',
            type: 'POST',
            data: $('#updateSubStatusForm').serialize(),
            success: function (response) {
                console.log(response);
                // Check if the response indicates success
                if (response) {
                    updateData(); // Call function to update data
                    $('#subStatusPlaceholder').find('.modal-body').prepend('<div class="alert alert-success" role="alert">SubStatus Updated Successfully.</div>');
                } else {
                    alert("An error occurred while saving data. Please try again.");
                }
            },
            error: function (xhr, status, error) {
                // Display more detailed error message from server response
                var errorMessage = xhr.responseText;
                $('#subStatusPlaceholder').find('.error-message-container').html('<div class="alert alert-danger" role="alert">' + errorMessage + '</div>');
            }
        });
    });

    $(document).on('click', '#closeButton, .close', function () {
        // Close the modal
        $('#updateModal').modal('hide');
    });


    //fucntion to handle delete modal

    $(document).on('click', '.trigger-modal', function () {
        var SubStatusId = $(this).data("id");
        // Set data attribute of delete button inside modal for further reference
        $('.delete-substatus').data('id', SubStatusId);
        $('#myModal').modal('show');
    });

    // Event delegation for handling delete button click inside the modal
    $(document).on('click', '.delete-substatus', function () {
        var SubStatusId = $(this).data("id");
        var deleteUrl = '@Url.Action("Delete", "SubStatus")' + '?id=' + SubStatusId;

        $.ajax({
            url: deleteUrl,
            type: 'GET',
            success: function (result) {
                console.log('SubStatus deleted successfully.');
                //alert('Zone deleted successfully');
                $('#myModal').modal('hide');
                $('#table7-tab').tab('show');
                // location.reload();
                $('#subStatusDataPlaceholder').load('/SubStatus/GetAll', function () {
                    console.log('SubStatus data reloaded.');
                });
            },
            error: function (xhr, status, error) {
                console.error("Error deleting SubStatus: ", error);
                alert("Error deleting SubStatus. Please try again.");
            }
        });
    });

 </script>